<div class="row flex-lg-row-revere align-items-center g-5 py-5">
  <div class="col-lg-6">
    <img src="/img/food_1.jpg" class="d-block mx-lg-auto img-fluid" alt="Recipe Image" width="700" height="500" loading="lazy">
    </div>

    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Welcome to Recipe App</h1>
      <p class="lead">Discover, share, and enjoy a wide variety of delicious recipes 
        from around the world.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/submit-recipes" class="btn btn-primary btn-lg px-4 me-md-2">Submit Recipes</a>
        <a href="/about" class="btn btn-outline-secondary btn-lg px-4">show Random</a>
      </div>

</div>

<!--Categories section start-->