<div class="row flex-lg-row-revere align-items-center g-5 py-5">
  <div class="col-lg-6">
    <img src="/img/food_1.jpg" class="d-block mx-lg-auto img-fluid" alt="Recipe Image" width="700" height="500" loading="lazy">
    </div>

    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Welcome to Recipe App</h1>
      <p class="lead">Discover, share, and enjoy a wide variety of delicious recipes 
        from around the world.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/submit-recipes" class="btn btn-primary btn-lg px-4 me-md-2">Submit Recipes</a>
        <a href="/about" class="btn btn-outline-secondary btn-lg px-4">show Random</a>
      </div>

</div>

<!--Categories section start-->
<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">

  <a href="#" class="col text-center category__link">
    <div class="category__img shadow">
      <img src="/img/food_2.jpg" class="img-fluid" alt="Category Image" loading="lazy">
    </div>
    <div class="category__name">Breakfast</div>
  </a>

   <a href="#" class="col text-center category__link">
    <div class="category__img shadow">
      <img src="/img/food_2.jpg" class="img-fluid" alt="Category Image" loading="lazy">
    </div>
    <div class="category__name">Breakfast</div>
  </a>

   <a href="#" class="col text-center category__link">
    <div class="category__img shadow">
      <img src="/img/food_2.jpg" class="img-fluid" alt="Category Image" loading="lazy">
    </div>
    <div class="category__name">Breakfast</div>
  </a>

  <a href="#" class="col text-center category__link">
    <div class="category__img shadow">
      <img src="/img/food_2.jpg" class="img-fluid" alt="Category Image" loading="lazy">
    </div>
    <div class="category__name">Breakfast</div>

<a href="#" class="col text-center category__link">
    <div class="category__img shadow">
      <img src="/img/food_2.jpg" class="img-fluid" alt="Category Image" loading="lazy">
    </div>
    <div class="category__name">ViewAll</div>



</div>

<!--Latest category section end-->
<section class="pb-4 pt-4">
    <h2>Latest Recipes</h2>
    <a href="/explore-latest" class="btn btn-primary mb-3">View more</a>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <a href="/recipe/#"  class="col text-center cateogory__link">
    <div class="category__img shadow">
      <img src="/img/food_2.jpg" class="card-img-top" alt="View All Categories" loading="lazy">
    </div>
    
     





</section>